footer{
    color: #253c55;
    /* padding-top: 30px; */
    border-top: 1px solid rgb(187, 187, 187);
    width: 100vw;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}
h2 h1{
    margin: 10px;
    box-sizing: border-box;
}
.authorlinks{
    background-color: aliceblue;
    margin: 10px;
    text-align: center;
}

@media (max-width: 420px) {
    footer{
        display:none;
    }
}
