.users{
    background-color: rgb(213, 255, 189);
    width: fit-content;
    padding: 10px;
}

.users li{
    position: relative;
    left: 5%;
}

.right-menu input {
    background-color: white;
    padding: 15px;
}

#roomChangeButton{
    background-color: white;
    width: fit-content;
    padding: 20px;
    transition: 1s all;
}
#roomChangeButton:hover{
    background-color: bisque
}